@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&display=swap');
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}
:root
{
    --main-bg:#1e272e;
    --main-color:#0097e6;

}
html
{
    font-size: 62.5%;
}
body
{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}
.row
{
    margin: 0px;
}
.main_menu
{
    background-color: var(--main-bg);
}
.navbar
{
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem 0;
}

.navbar li a
{
    margin-left:20px;
}
#nav-brand 
{
    font-size: 2.5rem;
}
.navbar a
{
    color: #fff;
    font-size: 1.8rem;
}
.navbar a:hover
{
    color: var(--main-color);
}

.navbar-toggler
{

    background-color: #fff;
}
.fa-snowflake
{
    transition: all linear;
    -webkit-transition: all linear;
    -moz-transition: all linear;
    -ms-transition: all linear;
    -o-transition: all linear;
    animation: rotate 2s infinite;
    -webkit-animation: rotate 2s infinite;
    color: var(--main-color);
}
@keyframes rotate {
    0%
    {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
100%
{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}
/* main header */
.main_header_left
{
    height: 70rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    /* overflow: hidden; */
}

.main_header_left p
{
    font-size: 2rem;
}
.main_header_left h1
{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}
.main_header_left .text_clr
{
    color: var(--main-color);
}
.main_header_left button
{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}
.main_header_left button:hover
{
    box-shadow: 0 8px 6px -6px var(--main-color);
}
.main_header_right
{
    height: 70rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.main_header_right figure img
{
    filter: drop-shadow(0 0.5rem 1rem #000);
    -webkit-filter: drop-shadow(0 0.5rem 1rem #000);
}

/* footer code */
footer
{
    width: 100%;
    background-color: var(--main-bg);
    margin: 10px 0px 0px 0px;
}
footer p
{
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 5rem;
    font-size: 1.4rem;
}

/* responsive code */
@media(max-width:768px)
{
    .main_header_left
    {
        height: auto;
        padding: 5rem;
    }
    .main_header_right
    {
        height: auto;
        margin-top: 5rem;
    }
}

/* weather css */
.temp_information
{
    padding: 2rem;
}
.temp_form
{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #000;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    /* padding: 0 1rem; */
}
#cityname
{
    width: 80%;
    min-height: 3rem;
    padding: 0rem 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    margin: 1rem;
}
#submitbtn
{
 width: 6rem;
 font-size: 1.5rem;
 border-radius: 0px 10px 10px 0px;
 -webkit-border-radius: 0px 10px 10px 0px;
 -moz-border-radius: 0px 10px 10px 0px;
 -ms-border-radius: 0px 10px 10px 0px;
 -o-border-radius: 0px 10px 10px 0px;
 outline:none;
}
.temp_information
{
    margin: 2rem 0rem;
    background-color: var(--main-bg);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.top_layer
{
    display: flex;
    flex-wrap: wrap;

}
.top_layer p
{
    color: #fff;
    margin: 0rem 0.5rem ;
}
.main_layer
{
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    flex-direction: column;
}
.middle_layer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.middle_layer p
{
    margin: 0rem 1rem;
}
#temp
{
    font-size: 4rem;
}
.fa-cloud
{
    font-size: 5rem;
    color: var(--main-color);
}
::placeholder
{
    color: #fff;
}
/* .data_hide
{
    visibility: hidden;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
} */